# Ignore All
*

# Add all files to the Whitelist
!*/

# Allow
!.gitignore
!palette.h
!sist.bat
!sist.conf
!sist_error.c
!sist_error.h
!sisterm.c
!sisterm.h
!specificCOM.bat
!syntax.h
!LICENSE
!Makefile
!README.md
