# Ignore All
*

# Add all files to the Whitelist
!*/

# Allow
!.gitignore
!config*
!install*
!sist.conf
!sisterm.c
!sisterm.h
!syntax.h
!palette.h
!specificCOM.bat
!sist.bat
!README.md
!LICENSE
!Makefile*
